.form{
    display: flex;
    column-gap: 10px;
}
.input{
    flex-grow: 1;
    background: transparent;
    border-radius: 12px;
    box-shadow: inset 3px 3px 5px 0px rgb(0 0 0 / 20%),
     inset -3px -3px 5px 0px rgb(255 255 255 / 70%);
    border: 0;
    outline: none;
    padding: 0 15px;
}

.input::placeholder{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.formBtn{
    height: 36px;
    width: 36px;
    flex-shrink: 1;
    border: 0;
    background-color: #5C5C5C;
    box-shadow: 3px 3px 5px 0px rgb(0 0 0 / 20%),
     -3px -3px 5px 0px rgb(255 255 255 / 70%);
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: background-color .5s;
}
.formBtn:hover{
    background-color: #3d3c3c;
}
.formBtn svg{
    margin-left: 1px;
}

.formBtn:active{
    box-shadow: inset 2px 2px 5px 0px rgb(0 0 0 / 60%),
    inset -1px -1px 5px 0px rgb(255 255 255 / 50%);

}


h2{
    text-align: center;
    margin-bottom: 10px;
    font-weight: 600;
}